h1 {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; color:red ; text-align:center;
}
h2 {
  color: #3C00C8  ;
  font-style: serif;
  text-align: center;
}
p {
  color: #1BB745 ;
  font-family: fantasy;
}
ul {
   color: #CEFF4C ;
   line-height: 40px;
}
body {
     background-color: #110D10 ;
}
